<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body>
    <h1>Stored Transactions</h1>
    <table>
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transaction %}
            <tr>
                <td>{{ transaction[0] }}</td>
                <td>{{ transaction[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>